@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
.borde{ display: flex;
    border-radius: 2.5rem;
    border-style: solid;
    border-color: rgba(0, 0, 0,.3);
}
h1{ padding-top: 2rem;}
.logo{width: 80px;}
body{
    font-family: 'Roboto', sans-serif;  
    text-transform: uppercase;
    text-align: center;
     background-color: hsl(0, 0%, 100%);
 } 
 .centrar{
    display: grid;
    place-items: center;
}
.numeroTel{
    text-align: start;
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
}
.logo{width: 80px;}
.log_img{
    max-width: 15%;
}

form{
    max-width: 60%;
    margin: auto;
}
.log{
    height: auto;
}

.form_us{
    width: auto;
    max-width: 100%;
}